{% macro status_image(status) %}
  
  {% if status == 'failure' or status == 'Failure' %}
    <small style="color: red; display: inline-block; vertical-align: text-top;"><strong>[Failure]</strong></small>
    &nbsp;
  
  {% elif status == 'warning' or status == 'Warning' %}
    <small style="color: orange; display: inline-block; vertical-align: text-top;"><strong>[Warning]</strong></small>
    &nbsp;
  
  {% elif status == 'good' or status == 'Good' %}
    <small style="color: green; display: inline-block; vertical-align: text-top;"><strong>[Good]</strong></small>
    &nbsp;

  {% else %}
  {{raise_error("unexpected status value: {}".format(status))}}
  
  {% endif %}

{% endmacro %}


<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {# <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css"> #}
    <link rel="stylesheet" href="http://matejlatin.github.io/Gutenberg/example2/assets/combined.min.css">

  </head>
  <body>
    <h1> FASTQC-like Report </h1>
    <hr>

    <p>
      Generated at {{now|format_datetime}}.
    </p>
    
    <table style="width: 100%;">
    <tbody>
      <TR>
        <TD> Filename </TD>
        <TD> {{file}} </TD>
      </TR>
      <TR>
        <TD> Encoding </TD>
        <TD> {{Encoding}} </TD>
      </TR>
      <TR>
        <TD> Total Sequences </TD>
        <TD> {{total_sequences}} </TD>
      </TR>
      <TR>
        <TD> Sequence Length </TD>
        <TD> {{sequence_length}} </TD>
      </TR>
      <TR>
        <TD> %GC </TD>
        <TD> {{GC}} </TD>
      </TR>
    </tbody>
    </table>
    <hr>

    <h2> Per Base Sequence Quality </h2>
    <img src="./Per_base_sequence_quality.png">
    <hr>

    <h2> Per sequence quality scores </h2>
    <img src="./Per_sequence_quality_scores.png">
    <hr>

    <h2> Per base sequence content </h2>
    <img src="./Per_base_sequence_content.png">
    <hr>

    <h2> {{ status_image(gc_content_result) }} Per sequence GC content </h2>
    <img src="./gc_content.png">
    <hr>

    <h2> {{ status_image(N_content_result) }} Per base N content </h2>
    <img src="./N_content.png">
    <hr>

    <h2> {{ status_image(sequence_length_distribution_result) }} Sequence Length Distribution </h2>
    <img src="./sequence_length_distribution.png">
    <hr>

    <h2> {{ status_image(deduplicated_result) }} Sequence Duplication Levels </h2>
    <img src="./deduplication.png">
    <hr>

    <h2> {{ status_image(overrepresented_sequences_result) }} Overrepresented sequences </h2>

    <hr>

    <h2> {{ status_image(adapter_content_result) }} Adapter Content </h2>
    <img src="./adapter_content.png">
    <hr>

  </body>
</html>
