{% macro header_text(img_path, color, content) %}

  <img src="./check_img/{{img_path}}" style="display: inline-block; margin: 0;" height="32px" width="32px"> 
  <span style="color:{{color}};"> {{content}} </span>

{% endmacro %}



{% macro status_header(status, content) %}
  
  {% if status == 'failure' or status == 'Failure' %}
    {{header_text('error.jpg', 'red', content)}}
  
  {% elif status == 'warning' or status == 'Warning' %}
    {{header_text('warning.jpg', 'orange', content)}}
  
  {% elif status == 'good' or status == 'Good' %}
    {{header_text('good.jpg', 'green', content)}}

  {% else %}
  {{raise_error("unexpected status value: {}".format(status))}}
  
  {% endif %}

{% endmacro %}

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {# <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css"> #}
    <link rel="stylesheet" href="http://matejlatin.github.io/Gutenberg/example2/assets/combined.min.css">

  </head>
  
  <style>
    .floating-menu {
                    font-family: sans-serif;
                    background: whitesmoke;
                    padding: 5px;;
                    width: 230px;
                    z-index: 100;
                    position: fixed;
                    bottom: 0px;
                    right: 0px;
                    }

    .floating-menu a, 
    .floating-menu h3 {
                       font-size: 0.6em;
                       display: block;
                       margin: auto;
                       color: black;
                       }
  </style>

  <body>
    <h1> FASTQC-like Report </h1>
    <p>
      Generated at {{now|format_datetime}}.
    </p>
    
    <hr>

  <nav class="floating-menu">
    <h3>Menu</h3>
    <a href="#part_1"> Per base sequence quality </a>
    <a href="#part_2"> Per sequence quality scores </a>
    <a href="#part_3"> Per base sequence content </a>
    <a href="#part_4"> Per sequence GC content </a>
    <a href="#part_5"> Per base N content </a>
    <a href="#part_6"> Sequence length distribution </a>
    <a href="#part_7"> Sequence duplication levels </a>
    <a href="#part_8"> Overrepresented sequences </a>
    <a href="#part_9"> Adapter content </a>
  </nav>


    <table style="width: 100%;">
    <tbody>
      <TR>
        <TD> Filename </TD>
        <TD> {{file}} </TD>
      </TR>
      <TR>
        <TD> Encoding </TD>
        <TD> {{Encoding}} </TD>
      </TR>
      <TR>
        <TD> Total Sequences </TD>
        <TD> {{total_sequences}} </TD>
      </TR>
      <TR>
        <TD> Sequence Length </TD>
        <TD> {{sequence_length}} </TD>
      </TR>
      <TR>
        <TD> %GC </TD>
        <TD> {{GC}} </TD>
      </TR>
    </tbody>
    </table>
    <hr>

    <h2><a id="part_1"> Per base sequence quality </a></h2>
    <img src="./Per_base_sequence_quality.png">
    <hr>

    <h2><a id="part_2"> Per sequence quality scores </a></h2>
    <img src="./Per_sequence_quality_scores.png">
    <hr>

    <h2><a id="part_3"> Per base sequence content </a></h2>
    <img src="./Per_base_sequence_content.png">
    <hr>

    <h2><a id="part_4"> {{ status_header(gc_content_result, 'Per sequence GC content') }} </a></h2>
    <img src="./gc_content.png">
    <hr>

    <h2><a id="part_5"> {{ status_header(N_content_result, 'Per base N content') }} </a></h2>
    <img src="./N_content.png">
    <hr>

    <h2><a id="part_6"> {{ status_header(sequence_length_distribution_result, 'Sequence length distribution') }}  </a></h2>
    <img src="./sequence_length_distribution.png">
    <hr>

    <h2><a id="part_7"> {{ status_header(deduplicated_result,  'Sequence duplication levels') }} </a></h2>
    <img src="./deduplication.png">
    <hr>

    <h2><a id="part_8"> {{ status_header(overrepresented_sequences_result, 'Overrepresented sequences') }}  </a></h2>

    <hr>

    <h2><a id="part_9"> {{ status_header(adapter_content_result, 'Adapter content') }}  </a></h2>
    <img src="./adapter_content.png">
    <hr>

  </body>
</html>
